.snap-scroll-container {
    height: 100%;
    width: 100%;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.snap-scroll-window  {
    /* display: flex; */

    
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.overflow-y-scroll {
    overflow-y: scroll;
}